<main class="main">
  
    <header>
    
    <mat-toolbar>
          <img class="brand-logo" src="/assets/logo_livre.svg" alt="logo" aria-hidden="true"/>
          <h1>Ma bibliothèque </h1>
          <span class="exemple-spacer"></span>
          <button mat-raised-button routerLink="/authentification" >{{ this.library.isUserSignIn() ? "Déconnexion" : " Connexion / Inscription"}}</button>
          
          
          
        </mat-toolbar>
      
    </header>
 
  <section class="content">
    <router-outlet></router-outlet>
  </section>  
</main>